# Top-Level RL & Env Packages
gymnasium
stable-retro
stable_baselines3

# Computer Vision & Math
opencv-python
numpy

# Logging & Visualization
tensorboard
matplotlib
pandas

# Deep Learning
# Note: Removed local NVIDIA/CUDA bindings to let the cluster use its own
torch